{"openapi":"3.0.3","info":{"title":"Cisco ISE API - Policy","version":"1.0.0"},"servers":[{"url":"https://ise.securitydemo.net:443","description":"Inferred Url"}],"tags":[{"name":"device-admin-api-controller","description":"the device-admin API"},{"name":"network-access-api-controller","description":"the network-access API"}],"paths":{"/api/v1/policy/device-admin/command-sets":{"get":{"tags":["Device Administration - Command Set"],"summary":"Device Admin - Return list of command sets.","description":"<p>Device Admin - Return list of command sets.<br> (Other CRUD APIs available throught ERS)<br></p>","operationId":"getDeviceAdminCommandSets","parameters":[{"name":"X-Request-ID","in":"header","description":"request Id, will return in the response headers, and appear in logs","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"list of commands set","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CommandSet"}}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The specified resource was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"BasicAuth":[]}]}},"/api/v1/policy/device-admin/condition":{"get":{"tags":["Device Administration - Conditions"],"summary":"Device Admin - Returns list of library conditions.","description":"Device Admin - Returns list of library conditions.","operationId":"getDeviceAdminConditions","parameters":[{"name":"X-Request-ID","in":"header","description":"request Id, will return in the response headers, and appear in logs","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"List of library conditions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LibraryConditionListResponseEntity"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The specified resource was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"BasicAuth":[]}]},"post":{"tags":["Device Administration - Conditions"],"summary":"Device Admin - Creates a library condition.","description":"Device Admin - Creates a library condition.","operationId":"postDeviceAdminCondition","parameters":[{"name":"X-Request-ID","in":"header","description":"request Id, will return in the response headers, and appear in logs","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Condition"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LibraryConditionResponseEntity"}}}},"201":{"description":"Library condition object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LibraryConditionResponseEntity"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"BasicAuth":[]}]}},"/api/v1/policy/device-admin/condition/authentication":{"get":{"tags":["Device Administration - Conditions"],"summary":"Device Admin - Returns list of library conditions for authentication rules.","description":"Device Admin - Returns list of library conditions for authentication rules.","operationId":"getDeviceAdminConditionsForAuthenticationRule","parameters":[{"name":"X-Request-ID","in":"header","description":"request Id, will return in the response headers, and appear in logs","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"List of library conditions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LibraryConditionListResponseEntity"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The specified resource was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"BasicAuth":[]}]}},"/api/v1/policy/device-admin/condition/authorization":{"get":{"tags":["Device Administration - Conditions"],"summary":"Device Admin - Returns list of library conditions for authorization rules.","description":"Device Admin - Returns list of library conditions for authorization rules.","operationId":"getDeviceAdminConditionsForAuthorizationRule","parameters":[{"name":"X-Request-ID","in":"header","description":"request Id, will return in the response headers, and appear in logs","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"List of library conditions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LibraryConditionListResponseEntity"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The specified resource was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"BasicAuth":[]}]}},"/api/v1/policy/device-admin/condition/condition-by-name/{conditionName}":{"get":{"tags":["Device Administration - Conditions"],"summary":"Device Admin - Returns a library condition.","description":"Device Admin - Returns a library condition.","operationId":"getDeviceAdminConditionByConditionName","parameters":[{"name":"conditionName","in":"path","description":"Condition name","required":true,"style":"simple","schema":{"type":"string"}},{"name":"X-Request-ID","in":"header","description":"request Id, will return in the response headers, and appear in logs","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Library condition object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LibraryConditionResponseEntity"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The specified resource was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"BasicAuth":[]}]},"put":{"tags":["Device Administration - Conditions"],"summary":"Device Admin - Update library condition by condition name.","description":"Device Admin - Update library condition using condition name.","operationId":"putDeviceAdminConditionByConditionName","parameters":[{"name":"conditionName","in":"path","description":"Condition name","required":true,"style":"simple","schema":{"type":"string"}},{"name":"X-Request-ID","in":"header","description":"request Id, will return in the response headers, and appear in logs","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Condition"}}}},"responses":{"200":{"description":"Library condition object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LibraryConditionResponseEntity"}}}},"201":{"description":"Created"},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The specified resource was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"BasicAuth":[]}]},"delete":{"tags":["Device Administration - Conditions"],"summary":"Device Admin - Delete a library condition by condition Name.","description":"NDevice Admin - Delete a library condition using condition Name.","operationId":"deleteDeviceAdminConditionByConditionName","parameters":[{"name":"conditionName","in":"path","description":"Condition name","required":true,"style":"simple","schema":{"type":"string"}},{"name":"X-Request-ID","in":"header","description":"request Id, will return in the response headers, and appear in logs","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Response with object ID","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdResponseEntity"}}}},"204":{"description":"No Content"},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The specified resource was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"BasicAuth":[]}]}},"/api/v1/policy/device-admin/condition/policyset":{"get":{"tags":["Device Administration - Conditions"],"summary":"Device Admin - Returns list of library conditions for policy sets.","description":"Device Admin - Returns list of library conditions for policy sets.","operationId":"getDeviceAdminConditionsForPolicySet","parameters":[{"name":"X-Request-ID","in":"header","description":"request Id, will return in the response headers, and appear in logs","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"List of library conditions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LibraryConditionListResponseEntity"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The specified resource was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"BasicAuth":[]}]}},"/api/v1/policy/device-admin/condition/{conditionId}":{"get":{"tags":["Device Administration - Conditions"],"summary":"Device Admin - Returns a library condition.","description":"Device Admin - Returns a library condition.","operationId":"getDeviceAdminConditionByConditionId","parameters":[{"name":"conditionId","in":"path","description":"Condition id","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}},{"name":"X-Request-ID","in":"header","description":"request Id, will return in the response headers, and appear in logs","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Library condition object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LibraryConditionResponseEntity"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The specified resource was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"BasicAuth":[]}]},"put":{"tags":["Device Administration - Conditions"],"summary":"Device Admin - Update library condition.","description":"Device Admin - Update library condition.","operationId":"putDeviceAdminConditionByConditionId","parameters":[{"name":"conditionId","in":"path","description":"Condition id","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}},{"name":"X-Request-ID","in":"header","description":"request Id, will return in the response headers, and appear in logs","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Condition"}}}},"responses":{"200":{"description":"Library condition object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LibraryConditionResponseEntity"}}}},"201":{"description":"Created"},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The specified resource was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"BasicAuth":[]}]},"delete":{"tags":["Device Administration - Conditions"],"summary":"Device Admin - Delete a library condition.","description":"Device Admin - Delete a library condition.","operationId":"deleteDeviceAdminConditionByConditionId","parameters":[{"name":"conditionId","in":"path","description":"Condition id","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}},{"name":"X-Request-ID","in":"header","description":"request Id, will return in the response headers, and appear in logs","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Response with object ID","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdResponseEntity"}}}},"204":{"description":"No Content"},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The specified resource was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"BasicAuth":[]}]}},"/api/v1/policy/device-admin/dictionaries/authentication":{"get":{"tags":["Device Administration - Dictionary Attributes List"],"summary":"Network Access - Returns list of dictionary attributes for authentication.","description":"Network Access - Returns list of dictionary attributes for authentication.","operationId":"getDeviceAdminDictionariesAuthentication","parameters":[{"name":"X-Request-ID","in":"header","description":"request Id, will return in the response headers, and appear in logs","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"list of DictionaryAttributeResponseEntity objects","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DictionaryAttributeListResponseEntity"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"BasicAuth":[]}]}},"/api/v1/policy/device-admin/dictionaries/authorization":{"get":{"tags":["Device Administration - Dictionary Attributes List"],"summary":"Network Access - Returns list of dictionary attributes for authorization.","description":"Network Access - Returns list of dictionary attributes for authorization.","operationId":"getDeviceAdminDictionariesAuthorization","parameters":[{"name":"X-Request-ID","in":"header","description":"request Id, will return in the response headers, and appear in logs","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"list of DictionaryAttributeResponseEntity objects","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DictionaryAttributeListResponseEntity"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"BasicAuth":[]}]}},"/api/v1/policy/device-admin/dictionaries/policyset":{"get":{"tags":["Device Administration - Dictionary Attributes List"],"summary":"Network Access - Returns list of dictionary attributes for policyset.","description":"Network Access - Returns list of dictionary attributes for policyset.","operationId":"getDeviceAdminDictionariesPolicyset","parameters":[{"name":"X-Request-ID","in":"header","description":"request Id, will return in the response headers, and appear in logs","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"list of DictionaryAttributeResponseEntity objects","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DictionaryAttributeListResponseEntity"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"BasicAuth":[]}]}},"/api/v1/policy/device-admin/identity-stores":{"get":{"tags":["Device Administration - Identity Stores"],"summary":"Device Admin - Return list of identity stores for authentication.","description":"<p>Device Admin - Return list of identity stores for authentication.<br> (Other CRUD APIs available throught ERS)<br></p>","operationId":"getDeviceAdminIdentityStores","parameters":[{"name":"X-Request-ID","in":"header","description":"request Id, will return in the response headers, and appear in logs","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"list of identity stores","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/IdentityStore"}}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The specified resource was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"BasicAuth":[]}]}},"/api/v1/policy/device-admin/network-condition":{"get":{"tags":["Device Administration - Network Conditions"],"summary":"Device Admin - Returns a list of network conditions.","description":"Device Admin - Returns a list of network conditions.","operationId":"getDeviceAdminNetworkConditions","parameters":[{"name":"X-Request-ID","in":"header","description":"request Id, will return in the response headers, and appear in logs","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"list of network conditions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NetworkConditionListResponseEntity"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The specified resource was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"BasicAuth":[]}]},"post":{"tags":["Device Administration - Network Conditions"],"summary":"Device Admin- Creates network condition.","description":"Device Admin- Creates network condition.","operationId":"postDeviceAdminNetworkCondition","parameters":[{"name":"X-Request-ID","in":"header","description":"request Id, will return in the response headers, and appear in logs","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NetworkCondition"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NetworkConditionResponseEntity"}}}},"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NetworkConditionResponseEntity"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"BasicAuth":[]}]}},"/api/v1/policy/device-admin/network-condition/{conditionId}":{"get":{"tags":["Device Administration - Network Conditions"],"summary":"Device Admin - Returns a network condition.","description":"Device Admin - Returns a network condition.","operationId":"getDeviceAdminNetworkConditionByConditionId","parameters":[{"name":"conditionId","in":"path","description":"Condition id","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}},{"name":"X-Request-ID","in":"header","description":"request Id, will return in the response headers, and appear in logs","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Network condition","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NetworkConditionResponseEntity"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The specified resource was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"BasicAuth":[]}]},"put":{"tags":["Device Administration - Network Conditions"],"summary":"Device Admin - Update network condition.","description":"Device Admin - Update network condition.","operationId":"putDeviceAdminNetworkConditionByConditionId","parameters":[{"name":"conditionId","in":"path","description":"Condition id","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}},{"name":"X-Request-ID","in":"header","description":"request Id, will return in the response headers, and appear in logs","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NetworkCondition"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NetworkConditionResponseEntity"}}}},"201":{"description":"Created"},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The specified resource was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"BasicAuth":[]}]},"delete":{"tags":["Device Administration - Network Conditions"],"summary":"Device Admin - Delete network condition.","description":"Device Admin - Delete network condition.","operationId":"deleteDeviceAdminNetworkConditionByConditionId","parameters":[{"name":"conditionId","in":"path","description":"Condition id","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}},{"name":"X-Request-ID","in":"header","description":"request Id, will return in the response headers, and appear in logs","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Response with object ID","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdResponseEntity"}}}},"204":{"description":"No Content"},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The specified resource was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"BasicAuth":[]}]}},"/api/v1/policy/device-admin/policy-set":{"get":{"tags":["Device Administration - Policy Set"],"summary":"Device Admin - List of policy sets.","description":"Device Admin - List of policy sets.","operationId":"getDeviceAdminPolicySetList","parameters":[{"name":"X-Request-ID","in":"header","description":"request Id, will return in the response headers, and appear in logs","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"List of network access policy sets","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PolicySetListResponseEntity"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The specified resource was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"BasicAuth":[]}]},"post":{"tags":["Device Administration - Policy Set"],"summary":"Device Admin - Create a new policy set.","description":"Device Admin - Create a new policy set.","operationId":"createDeviceAdminPolicySet","parameters":[{"name":"X-Request-ID","in":"header","description":"request Id, will return in the response headers, and appear in logs","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PolicySet"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PolicySetResponseEntity"}}}},"201":{"description":"PolicySet response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PolicySetResponseEntity"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"BasicAuth":[]}]}},"/api/v1/policy/device-admin/policy-set/global-exception":{"get":{"tags":["Device Administration - Authorization Global Exception Rules"],"summary":"Device Admin - Get global execption rules.","description":"Device Admin - Get global execption rules.","operationId":"getDeviceAdminPolicySetGlobalExceptionRuleList","parameters":[{"name":"X-Request-ID","in":"header","description":"request Id, will return in the response headers, and appear in logs","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Device Admin Authorization Rule response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceAdminAuthorizationRuleListResponseEntity"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The specified resource was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"BasicAuth":[]}]},"post":{"tags":["Device Administration - Authorization Global Exception Rules"],"summary":"Device Admin - Create global exception authorization rule.","description":"Device Admin - Create global exception authorization rule.","operationId":"createDeviceAdminPolicySetGlobalException","parameters":[{"name":"X-Request-ID","in":"header","description":"request Id, will return in the response headers, and appear in logs","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuleAuthorizationDeviceAdmin"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceAdminAuthorizationRuleResponseEntity"}}}},"201":{"description":"Device Admin Authorization Rule response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceAdminAuthorizationRuleResponseEntity"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The specified resource was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"BasicAuth":[]}]}},"/api/v1/policy/device-admin/policy-set/global-exception/reset-hitcount":{"post":{"tags":["Device Administration - Authorization Global Exception Rules"],"summary":"Device Admin - Reset HitCount for Global Exceptions","description":"Device Admin - Reset HitCount for Global Exceptions","operationId":"resetHitCountsDeviceAdminGlobalExceptions","parameters":[{"name":"X-Request-ID","in":"header","description":"request Id, will return in the response headers, and appear in logs","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Response with success message","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageResponseEntity"}}}},"201":{"description":"Created"},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The specified resource was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"BasicAuth":[]}]}},"/api/v1/policy/device-admin/policy-set/global-exception/{ruleId}":{"get":{"tags":["Device Administration - Authorization Global Exception Rules"],"summary":"Device Admin - Get global exception rule attributes.","description":"Device Admin - Get global exception rule attribute","operationId":"getDeviceAdminPolicySetGlobalExceptionByRuleId","parameters":[{"name":"ruleId","in":"path","description":"Rule id","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}},{"name":"X-Request-ID","in":"header","description":"request Id, will return in the response headers, and appear in logs","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Device Admin Authorization Rule response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceAdminAuthorizationRuleResponseEntity"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The specified resource was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"BasicAuth":[]}]},"put":{"tags":["Device Administration - Authorization Global Exception Rules"],"summary":"Device Admin - Update global exception authorization rule.","description":"Device Admin - Update global exception authorization rule.","operationId":"putDeviceAdminPolicySetGlobalExceptionByRuleId","parameters":[{"name":"ruleId","in":"path","description":"Rule id","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}},{"name":"X-Request-ID","in":"header","description":"request Id, will return in the response headers, and appear in logs","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuleAuthorizationDeviceAdmin"}}}},"responses":{"200":{"description":"Device Admin Authorization Rule response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceAdminAuthorizationRuleResponseEntity"}}}},"201":{"description":"Created"},"204":{"description":"No Content","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceAdminAuthorizationRuleResponseEntity"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The specified resource was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"BasicAuth":[]}]},"delete":{"tags":["Device Administration - Authorization Global Exception Rules"],"summary":"Device Admin - Delete global exception authorization rule.","description":"Device Admin - Delete global exception authorization rule.","operationId":"deleteDeviceAdminPolicysetGlobalExceptionByRuleId","parameters":[{"name":"ruleId","in":"path","description":"Rule id","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}},{"name":"X-Request-ID","in":"header","description":"request Id, will return in the response headers, and appear in logs","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Response with object ID","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdResponseEntity"}}}},"204":{"description":"No Content","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdResponseEntity"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The specified resource was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"BasicAuth":[]}]}},"/api/v1/policy/device-admin/policy-set/reset-hitcount":{"post":{"tags":["Device Administration - Policy Set"],"summary":"Device Admin - Reset HitCount for PolicySets","description":"Device Admin - Reset HitCount for PolicySets","operationId":"resetHitCountsDeviceAdminPolicySets","parameters":[{"name":"X-Request-ID","in":"header","description":"request Id, will return in the response headers, and appear in logs","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Response with success message","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageResponseEntity"}}}},"201":{"description":"Created"},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The specified resource was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"BasicAuth":[]}]}},"/api/v1/policy/device-admin/policy-set/{policyId}":{"get":{"tags":["Device Administration - Policy Set"],"summary":"Device Admin - Get policy set attributes.","description":"Device Admin - Get policy set attributes.","operationId":"getDeviceAdminPolicySetById","parameters":[{"name":"policyId","in":"path","description":"Policy id","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}},{"name":"X-Request-ID","in":"header","description":"request Id, will return in the response headers, and appear in logs","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"PolicySet response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PolicySetResponseEntity"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The specified resource was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"BasicAuth":[]}]},"put":{"tags":["Device Administration - Policy Set"],"summary":"Device Admin - Update a policy set.","description":"Device Admin - Update a policy set.","operationId":"updateDeviceAdminPolicySetById","parameters":[{"name":"policyId","in":"path","description":"Policy id","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}},{"name":"X-Request-ID","in":"header","description":"request Id, will return in the response headers, and appear in logs","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PolicySet"}}}},"responses":{"200":{"description":"PolicySet response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PolicySetResponseEntity"}}}},"201":{"description":"Created"},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The specified resource was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"BasicAuth":[]}]},"delete":{"tags":["Device Administration - Policy Set"],"summary":"Device Admin - Delete a policy set.","description":"Device Admin - Delete a policy set.","operationId":"deleteDeviceAdminPolicySetById","parameters":[{"name":"policyId","in":"path","description":"Policy id","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}},{"name":"X-Request-ID","in":"header","description":"request Id, will return in the response headers, and appear in logs","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Response with object ID","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdResponseEntity"}}}},"204":{"description":"No Content"},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The specified resource was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"BasicAuth":[]}]}},"/api/v1/policy/device-admin/policy-set/{policyId}/authentication":{"get":{"tags":["Device Administration - Authentication Rules"],"summary":"Device Admin - Get authentication rules.","description":"Device Admin - Get authentication rules.","operationId":"getDeviceAdminPolicyByIdAuthenticationRuleList","parameters":[{"name":"policyId","in":"path","description":"Policy id","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}},{"name":"X-Request-ID","in":"header","description":"request Id, will return in the response headers, and appear in logs","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Authentication Rule list response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthenticationRuleListResponseEntity"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The specified resource was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"BasicAuth":[]}]},"post":{"tags":["Device Administration - Authentication Rules"],"summary":"Device Admin - Create authentication rule.","description":"Device Admin - Create authentication rule.","operationId":"createDeviceAdminPolicyByIdAuthenticationRule","parameters":[{"name":"policyId","in":"path","description":"Policy id","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}},{"name":"X-Request-ID","in":"header","description":"request Id, will return in the response headers, and appear in logs","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuleAuthentication"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthenticationRuleResponseEntity"}}}},"201":{"description":"Authentication Rule response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthenticationRuleResponseEntity"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The specified resource was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"BasicAuth":[]}]}},"/api/v1/policy/device-admin/policy-set/{policyId}/authentication/reset-hitcount":{"post":{"tags":["Device Administration - Authentication Rules"],"summary":"Device Admin - Reset HitCount for Authentication Rules","description":"Device Admin - Reset HitCount for Authentication Rules","operationId":"resetHitCountsDeviceAdminPolicyByIdAuthenticationRules","parameters":[{"name":"policyId","in":"path","description":"Policy id","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}},{"name":"X-Request-ID","in":"header","description":"request Id, will return in the response headers, and appear in logs","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Response with success message","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageResponseEntity"}}}},"201":{"description":"Created"},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The specified resource was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"BasicAuth":[]}]}},"/api/v1/policy/device-admin/policy-set/{policyId}/authentication/{ruleId}":{"get":{"tags":["Device Administration - Authentication Rules"],"summary":"Device Admin - Get rule attributes.","description":"Device Admin - Get rule attributes.","operationId":"getDeviceAdminPolicyByIdAuthenticationRuleById","parameters":[{"name":"policyId","in":"path","description":"Policy id","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}},{"name":"ruleId","in":"path","description":"Rule id","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}},{"name":"X-Request-ID","in":"header","description":"request Id, will return in the response headers, and appear in logs","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Authentication Rule response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthenticationRuleResponseEntity"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The specified resource was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"BasicAuth":[]}]},"put":{"tags":["Device Administration - Authentication Rules"],"summary":"Device Admin - - Update rule.","description":"Device Admin - - Update rule.","operationId":"updateDeviceAdminPolicyByIdAuthenticationRuleById","parameters":[{"name":"policyId","in":"path","description":"Policy id","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}},{"name":"ruleId","in":"path","description":"Rule id","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}},{"name":"X-Request-ID","in":"header","description":"request Id, will return in the response headers, and appear in logs","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuleAuthentication"}}}},"responses":{"200":{"description":"Authentication Rule response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthenticationRuleResponseEntity"}}}},"201":{"description":"Created"},"204":{"description":"No Content","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthenticationRuleResponseEntity"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The specified resource was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"BasicAuth":[]}]},"delete":{"tags":["Device Administration - Authentication Rules"],"summary":"Device Admin - Delete rule.","description":"Device Admin - Delete rule.","operationId":"deleteDeviceAdminPolicyByIdAuthenticationRuleById","parameters":[{"name":"policyId","in":"path","description":"Policy id","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}},{"name":"ruleId","in":"path","description":"Rule id","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}},{"name":"X-Request-ID","in":"header","description":"request Id, will return in the response headers, and appear in logs","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Response with object ID","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdResponseEntity"}}}},"202":{"description":"Accepted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdResponseEntity"}}}},"204":{"description":"No Content","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdResponseEntity"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The specified resource was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"BasicAuth":[]}]}},"/api/v1/policy/device-admin/policy-set/{policyId}/authorization":{"get":{"tags":["Device Administration - Authorization Rules"],"summary":"Device Admin - Get authorization rules.","description":"Device Admin - Get authorization rules.","operationId":"getDeviceAdminPolicyByIdAuthorizationRuleList","parameters":[{"name":"policyId","in":"path","description":"Policy id","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}},{"name":"X-Request-ID","in":"header","description":"request Id, will return in the response headers, and appear in logs","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Device Admin Authorization Rule response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceAdminAuthorizationRuleListResponseEntity"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The specified resource was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"BasicAuth":[]}]},"post":{"tags":["Device Administration - Authorization Rules"],"summary":"Device Admin - Create authorization rule.","description":"Device Admin - Create authorization rule.","operationId":"createDeviceAdminPolicyByIdAuthorizationRule","parameters":[{"name":"policyId","in":"path","description":"Policy id","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}},{"name":"X-Request-ID","in":"header","description":"request Id, will return in the response headers, and appear in logs","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuleAuthorizationDeviceAdmin"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceAdminAuthorizationRuleResponseEntity"}}}},"201":{"description":"Device Admin Authorization Rule response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceAdminAuthorizationRuleResponseEntity"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The specified resource was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"BasicAuth":[]}]}},"/api/v1/policy/device-admin/policy-set/{policyId}/authorization/reset-hitcount":{"post":{"tags":["Device Administration - Authorization Rules"],"summary":"Device Admin - Reset HitCount for Authorization Rules","description":"Device Admin - Reset HitCount for Authorization Rules","operationId":"resetHitCountsDeviceAdminPolicyByIdAuthorizationRules","parameters":[{"name":"policyId","in":"path","description":"Policy id","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}},{"name":"X-Request-ID","in":"header","description":"request Id, will return in the response headers, and appear in logs","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Response with success message","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageResponseEntity"}}}},"201":{"description":"Created"},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The specified resource was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"BasicAuth":[]}]}},"/api/v1/policy/device-admin/policy-set/{policyId}/authorization/{ruleId}":{"get":{"tags":["Device Administration - Authorization Rules"],"summary":"Device Admin - Get authorization rule attributes.","description":"Device Admin - Get authorization rule attributes.","operationId":"getDeviceAdminPolicyByIdAuthorizationRuleById","parameters":[{"name":"policyId","in":"path","description":"Policy id","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}},{"name":"ruleId","in":"path","description":"Rule id","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}},{"name":"X-Request-ID","in":"header","description":"request Id, will return in the response headers, and appear in logs","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Device Admin Authorization Rule response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceAdminAuthorizationRuleResponseEntity"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The specified resource was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"BasicAuth":[]}]},"put":{"tags":["Device Administration - Authorization Rules"],"summary":"Device Admin - Update authorization rule.","description":"Device Admin - Update authorization rule.","operationId":"updateDeviceAdminPolicyByIdAuthorizationRuleById","parameters":[{"name":"policyId","in":"path","description":"Policy id","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}},{"name":"ruleId","in":"path","description":"Rule id","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}},{"name":"X-Request-ID","in":"header","description":"request Id, will return in the response headers, and appear in logs","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuleAuthorizationDeviceAdmin"}}}},"responses":{"200":{"description":"Device Admin Authorization Rule response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceAdminAuthorizationRuleResponseEntity"}}}},"201":{"description":"Created"},"204":{"description":"No Content","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceAdminAuthorizationRuleResponseEntity"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The specified resource was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"BasicAuth":[]}]},"delete":{"tags":["Device Administration - Authorization Rules"],"summary":"Device Admin - Delete authorization rule.","description":"Device Admin - Delete authorization rule.","operationId":"deleteDeviceAdminPolicyByIdAuthorizationRuleById","parameters":[{"name":"policyId","in":"path","description":"Policy id","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}},{"name":"ruleId","in":"path","description":"Rule id","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}},{"name":"X-Request-ID","in":"header","description":"request Id, will return in the response headers, and appear in logs","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Response with object ID","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdResponseEntity"}}}},"204":{"description":"No Content","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdResponseEntity"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The specified resource was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"BasicAuth":[]}]}},"/api/v1/policy/device-admin/policy-set/{policyId}/exception":{"get":{"tags":["Device Administration - Authorization Exception Rules"],"summary":"Device Admin - Get local exception rules.","description":"Device Admin - Get local exception rules.","operationId":"getDeviceAdminPolicyByIdLocalExceptionRuleList","parameters":[{"name":"policyId","in":"path","description":"Policy id","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}},{"name":"X-Request-ID","in":"header","description":"request Id, will return in the response headers, and appear in logs","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Device Admin Authorization Rule response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceAdminAuthorizationRuleListResponseEntity"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The specified resource was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"BasicAuth":[]}]},"post":{"tags":["Device Administration - Authorization Exception Rules"],"summary":"Device Admin - Create local authorization exception rule.","description":"Device Admin - Create local authorization exception rule.","operationId":"createDeviceAdminPolicyByIdLocalExceptionRule","parameters":[{"name":"policyId","in":"path","description":"Policy id","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}},{"name":"X-Request-ID","in":"header","description":"request Id, will return in the response headers, and appear in logs","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuleAuthorizationDeviceAdmin"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceAdminAuthorizationRuleResponseEntity"}}}},"201":{"description":"Device Admin Authorization Rule response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceAdminAuthorizationRuleResponseEntity"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The specified resource was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"BasicAuth":[]}]}},"/api/v1/policy/device-admin/policy-set/{policyId}/exception/reset-hitcount":{"post":{"tags":["Device Administration - Authorization Exception Rules"],"summary":"Device Admin - Reset HitCount for local exceptions","description":"Device Admin - Reset HitCount for local exceptions","operationId":"resetHitCountsDeviceAdminPolicyByIdLocalExceptions","parameters":[{"name":"policyId","in":"path","description":"Policy id","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}},{"name":"X-Request-ID","in":"header","description":"request Id, will return in the response headers, and appear in logs","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Response with success message","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageResponseEntity"}}}},"201":{"description":"Created"},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The specified resource was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"BasicAuth":[]}]}},"/api/v1/policy/device-admin/policy-set/{policyId}/exception/{ruleId}":{"get":{"tags":["Device Administration - Authorization Exception Rules"],"summary":"Device Admin - Get local exception rule attributes.","description":"Device Admin - Get local exception rule attributes.","operationId":"getDeviceAdminPolicyByIdLocalExceptionRuleById","parameters":[{"name":"policyId","in":"path","description":"Policy id","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}},{"name":"ruleId","in":"path","description":"Rule id","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}},{"name":"X-Request-ID","in":"header","description":"request Id, will return in the response headers, and appear in logs","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Device Admin Authorization Rule response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceAdminAuthorizationRuleResponseEntity"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The specified resource was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"BasicAuth":[]}]},"put":{"tags":["Device Administration - Authorization Exception Rules"],"summary":"Device Admin - Update local exception rule.","description":"Device Admin - Update local exception rule.","operationId":"updateDeviceAdminPolicyByIdLocalExceptionRuleById","parameters":[{"name":"policyId","in":"path","description":"Policy id","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}},{"name":"ruleId","in":"path","description":"Rule id","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}},{"name":"X-Request-ID","in":"header","description":"request Id, will return in the response headers, and appear in logs","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuleAuthorizationDeviceAdmin"}}}},"responses":{"200":{"description":"Device Admin Authorization Rule response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceAdminAuthorizationRuleResponseEntity"}}}},"201":{"description":"Created"},"204":{"description":"No Content","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceAdminAuthorizationRuleResponseEntity"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The specified resource was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"BasicAuth":[]}]},"delete":{"tags":["Device Administration - Authorization Exception Rules"],"summary":"Device Admin - Delete local exception rule.","description":"Device Admin - Delete local exception rule.","operationId":"deleteDeviceAdminPolicyByIdLocalExceptionRuleById","parameters":[{"name":"policyId","in":"path","description":"Policy id","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}},{"name":"ruleId","in":"path","description":"Rule id","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}},{"name":"X-Request-ID","in":"header","description":"request Id, will return in the response headers, and appear in logs","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Response with object ID","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdResponseEntity"}}}},"204":{"description":"No Content","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdResponseEntity"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The specified resource was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"BasicAuth":[]}]}},"/api/v1/policy/device-admin/profiles":{"get":{"tags":["Device Administration - Profiles"],"summary":"Device Admin - Returns list of profiles.","description":"<p>Device Admin - Returns list of profiles.<br> (Other CRUD APIs available throught ERS)<br></p>","operationId":"getDeviceAdminProfiles","parameters":[{"name":"X-Request-ID","in":"header","description":"request Id, will return in the response headers, and appear in logs","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"list of profiles","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Profile"}}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The specified resource was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"BasicAuth":[]}]}},"/api/v1/policy/device-admin/service-names":{"get":{"tags":["Device Administration - Service Names"],"summary":"Device Admin - Returns list of allowed protocols and server sequences.","description":"<p>Returns list of Allowed Protocols and Server Sequences for Device Admin Policy Set results. <br> 'isLocalAuthorization' property is available only for Network Access Policy Set results of type Server Sequence. <br> (Other CRUD APIs available throught ERS)<br></p>","operationId":"getDeviceAdminServiceNames","parameters":[{"name":"X-Request-ID","in":"header","description":"request Id, will return in the response headers, and appear in logs","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"list of allowed protocols and server sequences","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ServiceName"}}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The specified resource was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"BasicAuth":[]}]}},"/api/v1/policy/device-admin/time-condition":{"get":{"tags":["Device Administration - Time/Date Conditions"],"summary":"Device Admin - Returns a list of time and date conditions.","description":"Device Admin - Returns a list of time and date conditions.","operationId":"getDeviceAdminTimeConditions","parameters":[{"name":"X-Request-ID","in":"header","description":"request Id, will return in the response headers, and appear in logs","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"list of time/date conditions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TimeAndDateConditionListResponseEntity"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The specified resource was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"BasicAuth":[]}]},"post":{"tags":["Device Administration - Time/Date Conditions"],"summary":"Device Admin - Creates time/date condition.","description":"Device Admin - Creates time/date condition.","operationId":"postDeviceAdminTimeCondition","parameters":[{"name":"X-Request-ID","in":"header","description":"request Id, will return in the response headers, and appear in logs","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TimeAndDateCondition"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TimeAndDateConditionResponseEntity"}}}},"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TimeAndDateConditionResponseEntity"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"BasicAuth":[]}]}},"/api/v1/policy/device-admin/time-condition/{conditionId}":{"get":{"tags":["Device Administration - Time/Date Conditions"],"summary":"Device Admin - Returns a network condition.","description":"Device Admin - Returns a network condition.","operationId":"getDeviceAdminTimeConditionByConditionId","parameters":[{"name":"conditionId","in":"path","description":"Condition id","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}},{"name":"X-Request-ID","in":"header","description":"request Id, will return in the response headers, and appear in logs","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Network condition","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TimeAndDateConditionResponseEntity"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The specified resource was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"BasicAuth":[]}]},"put":{"tags":["Device Administration - Time/Date Conditions"],"summary":"Device Admin - Update network condition.","description":"Device Admin - Update network condition.","operationId":"putDeviceAdminTimeConditionByConditionId","parameters":[{"name":"conditionId","in":"path","description":"Condition id","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}},{"name":"X-Request-ID","in":"header","description":"request Id, will return in the response headers, and appear in logs","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TimeAndDateCondition"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TimeAndDateConditionResponseEntity"}}}},"201":{"description":"Created"},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The specified resource was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"BasicAuth":[]}]},"delete":{"tags":["Device Administration - Time/Date Conditions"],"summary":"Device Admin - Delete Time/Date condition.","description":"Device Admin - Delete Time/Date condition.","operationId":"deleteDeviceAdminTimeConditionByConditionId","parameters":[{"name":"conditionId","in":"path","description":"Condition id","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}},{"name":"X-Request-ID","in":"header","description":"request Id, will return in the response headers, and appear in logs","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Response with object ID","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdResponseEntity"}}}},"204":{"description":"No Content"},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The specified resource was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"BasicAuth":[]}]}},"/api/v1/policy/network-access/condition":{"get":{"tags":["Network Access - Conditions"],"summary":"Network Access - Returns all library conditions","description":"Network Access - Returns all library conditions","operationId":"getNetworkAccessConditions","parameters":[{"name":"X-Request-ID","in":"header","description":"request Id, will return in the response headers, and appear in logs","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"List of library conditions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LibraryConditionListResponseEntity"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The specified resource was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"BasicAuth":[]}]},"post":{"tags":["Network Access - Conditions"],"summary":"Network Access - Creates a library condition.","description":"Network Access - Creates a library condition: <ul> <li> Library Condition has hierarchical structure which define a set of condition for which authentication and authorization policy rules could be match.</li> <li> Condition can be compose from single dictionary attribute name and value using model <b>LibraryConditionAttributes</b> , or from combination of dictionary attributes with logical operation of AND/OR between them, using models: <b>LibraryConditionAndBlock</b> or <b>LibraryConditionOrBlock</b>.</li> <li> When using AND/OR blocks, the condition will include inner layers inside these blocks, these layers are built using the inner condition models: <b>ConditionAttributes</b>, <b>ConditionAndBlock</b>, <b>ConditionOrBlock</b>, that represent dynamically built Conditions which are not stored in the conditions Library, or using <b>ConditionReference</b>, which includes an ID to existing stored condition in the library.</li> <li> The LibraryCondition models can only be used in the outer-most layer (root of the condition) and must always include the condition name.</li> <li> When using one of the 3 inner condition models (<b>ConditionAttributes, ConditionAndBlock, ConditionOrBlock</b>), condition name cannot be included in the request, since these will not be stored in the conditions library, and used only as inner members of the root condition.</li> <li> When using <b>ConditionReference</b> model in inner layers, the condition name is not required.</li> <li> ConditionReference objects can also include a reference ID to a condition of type <b>TimeAndDate</b>.</li> </ul> ","operationId":"postNetworkAccessCondition","parameters":[{"name":"X-Request-ID","in":"header","description":"request Id, will return in the response headers, and appear in logs","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Condition"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LibraryConditionResponseEntity"}}}},"201":{"description":"Library condition object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LibraryConditionResponseEntity"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"BasicAuth":[]}]}},"/api/v1/policy/network-access/condition/authentication":{"get":{"tags":["Network Access - Conditions"],"summary":"Network Access - Returns list of library conditions for Authentication rules scope.","description":"Network Access - Returns list of library conditions for Authentication rules scope.","operationId":"getNetworkAccessConditionsForAuthenticationRule","parameters":[{"name":"X-Request-ID","in":"header","description":"request Id, will return in the response headers, and appear in logs","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"List of library conditions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LibraryConditionListResponseEntity"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The specified resource was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"BasicAuth":[]}]}},"/api/v1/policy/network-access/condition/authorization":{"get":{"tags":["Network Access - Conditions"],"summary":"Network Access - Returns list of library conditions for Authorization rules scope.","description":"Network Access - Returns list of library conditions for Authorization rules scope.","operationId":"getNetworkAccessConditionsForAuthorizationRule","parameters":[{"name":"X-Request-ID","in":"header","description":"request Id, will return in the response headers, and appear in logs","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"List of library conditions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LibraryConditionListResponseEntity"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The specified resource was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"BasicAuth":[]}]}},"/api/v1/policy/network-access/condition/condition-by-name/{conditionName}":{"get":{"tags":["Network Access - Conditions"],"summary":"Network Access - Returns a library condition.","description":"Network Access - Returns a library condition.","operationId":"getNetworkAccessConditionByConditionName","parameters":[{"name":"conditionName","in":"path","description":"Condition name","required":true,"style":"simple","schema":{"type":"string"}},{"name":"X-Request-ID","in":"header","description":"request Id, will return in the response headers, and appear in logs","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Library condition object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LibraryConditionResponseEntity"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The specified resource was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"BasicAuth":[]}]},"put":{"tags":["Network Access - Conditions"],"summary":"Network Access - Update library condition by condition name.","description":"Network Access - Update library condition using condition name.","operationId":"putNetworkAccessConditionByConditionName","parameters":[{"name":"conditionName","in":"path","description":"Condition name","required":true,"style":"simple","schema":{"type":"string"}},{"name":"X-Request-ID","in":"header","description":"request Id, will return in the response headers, and appear in logs","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Condition"}}}},"responses":{"200":{"description":"Library condition object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LibraryConditionResponseEntity"}}}},"201":{"description":"Created"},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The specified resource was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"BasicAuth":[]}]},"delete":{"tags":["Network Access - Conditions"],"summary":"Network Access - Delete a library condition by condition Name.","description":"Network Access - Delete a library condition using condition Name.","operationId":"deleteNetworkAccessConditionByConditionName","parameters":[{"name":"conditionName","in":"path","description":"Condition name","required":true,"style":"simple","schema":{"type":"string"}},{"name":"X-Request-ID","in":"header","description":"request Id, will return in the response headers, and appear in logs","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Response with object ID","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdResponseEntity"}}}},"204":{"description":"No Content"},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The specified resource was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"BasicAuth":[]}]}},"/api/v1/policy/network-access/condition/policyset":{"get":{"tags":["Network Access - Conditions"],"summary":"Network Access - Returns list of library conditions for PolicySet scope.","description":"Network Access - Returns list of library conditions for PolicySet scope.","operationId":"getNetworkAccessConditionsForPolicySet","parameters":[{"name":"X-Request-ID","in":"header","description":"request Id, will return in the response headers, and appear in logs","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"List of library conditions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LibraryConditionListResponseEntity"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The specified resource was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"BasicAuth":[]}]}},"/api/v1/policy/network-access/condition/{conditionId}":{"get":{"tags":["Network Access - Conditions"],"summary":"Network Access - Returns a library condition.","description":"Network Access - Returns a library condition.","operationId":"getNetworkAccessConditionByConditionId","parameters":[{"name":"conditionId","in":"path","description":"Condition id","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}},{"name":"X-Request-ID","in":"header","description":"request Id, will return in the response headers, and appear in logs","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Library condition object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LibraryConditionResponseEntity"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The specified resource was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"BasicAuth":[]}]},"put":{"tags":["Network Access - Conditions"],"summary":"Network Access - Update library condition.","description":"Network Access - Update library condition.","operationId":"putNetworkAccessConditionByConditionId","parameters":[{"name":"conditionId","in":"path","description":"Condition id","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}},{"name":"X-Request-ID","in":"header","description":"request Id, will return in the response headers, and appear in logs","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Condition"}}}},"responses":{"200":{"description":"Library condition object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LibraryConditionResponseEntity"}}}},"201":{"description":"Created"},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The specified resource was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"BasicAuth":[]}]},"delete":{"tags":["Network Access - Conditions"],"summary":"Network Access - Delete a library condition.","description":"Network Access - Delete a library condition.","operationId":"deleteNetworkAccessConditionByConditionId","parameters":[{"name":"conditionId","in":"path","description":"Condition id","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}},{"name":"X-Request-ID","in":"header","description":"request Id, will return in the response headers, and appear in logs","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Response with object ID","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdResponseEntity"}}}},"204":{"description":"No Content"},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The specified resource was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"BasicAuth":[]}]}},"/api/v1/policy/network-access/dictionaries":{"get":{"tags":["Network Access - Dictionary"],"summary":"Network Access - Returns a list of Dictionaries.","description":"Get all Dictionaries.","operationId":"getNetworkAccessDictionaries","parameters":[{"name":"X-Request-ID","in":"header","description":"request Id, will return in the response headers, and appear in logs","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Response containing DictionaryListResponseEntity object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DictionaryListResponseEntity"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The specified resource was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"BasicAuth":[]}]},"post":{"tags":["Network Access - Dictionary"],"summary":"Network Access - Create a new Dictionary.","description":"Network Access - Create a new Dictionary.","operationId":"postNetworkAccessDictionaries","parameters":[{"name":"X-Request-ID","in":"header","description":"request Id, will return in the response headers, and appear in logs","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Dictionary"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DictionaryResponseEntity"}}}},"201":{"description":"Response containing DictionaryResponseEntity object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DictionaryResponseEntity"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"409":{"description":"Conflict in the current state of the resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"BasicAuth":[]}]}},"/api/v1/policy/network-access/dictionaries/authentication":{"get":{"tags":["Network Access - Dictionary Attributes List"],"summary":"Network Access - Returns list of dictionary attributes for authentication.","description":"Network Access - Returns list of dictionary attributes for authentication.","operationId":"getNetworkAccessDictionariesAuthentication","parameters":[{"name":"X-Request-ID","in":"header","description":"request Id, will return in the response headers, and appear in logs","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"list of DictionaryAttributeResponseEntity objects","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DictionaryAttributeListResponseEntity"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"BasicAuth":[]}]}},"/api/v1/policy/network-access/dictionaries/authorization":{"get":{"tags":["Network Access - Dictionary Attributes List"],"summary":"Network Access - Returns list of dictionary attributes for authorization.","description":"Network Access - Returns list of dictionary attributes for authorization.","operationId":"getNetworkAccessDictionariesAuthorization","parameters":[{"name":"X-Request-ID","in":"header","description":"request Id, will return in the response headers, and appear in logs","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"list of DictionaryAttributeResponseEntity objects","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DictionaryAttributeListResponseEntity"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"BasicAuth":[]}]}},"/api/v1/policy/network-access/dictionaries/policyset":{"get":{"tags":["Network Access - Dictionary Attributes List"],"summary":"Network Access - Returns list of dictionary attributes for policyset.","description":"Network Access - Returns list of dictionary attributes for policyset.","operationId":"getNetworkAccessDictionariesPolicyset","parameters":[{"name":"X-Request-ID","in":"header","description":"request Id, will return in the response headers, and appear in logs","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"list of DictionaryAttributeResponseEntity objects","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DictionaryAttributeListResponseEntity"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"BasicAuth":[]}]}},"/api/v1/policy/network-access/dictionaries/{dictionaryName}/attribute":{"get":{"tags":["Network Access - Dictionary Attribute"],"summary":"Returns a list of Dictionary Attributes for an existing Dictionary.","description":"Returns a list of Dictionary Attributes for an existing Dictionary.","operationId":"getNetworkAccessDictionaryAttributesByDictionaryName","parameters":[{"name":"dictionaryName","in":"path","description":"the name of the dictionary the dictionary attribute belongs to","required":true,"style":"simple","schema":{"type":"string"}},{"name":"X-Request-ID","in":"header","description":"request Id, will return in the response headers, and appear in logs","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"list of DictionaryAttributeResponseEntity objects","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DictionaryAttributeListResponseEntity"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The specified resource was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"BasicAuth":[]}]},"post":{"tags":["Network Access - Dictionary Attribute"],"summary":"Create a new Dictionary Attribute for an existing Dictionary.","description":"Create a new Dictionary Attribute for an existing Dictionary.","operationId":"postNetworkAccessDictionariesByDictionaryNameAttribute","parameters":[{"name":"dictionaryName","in":"path","description":"the name of the dictionary the dictionary attribute belongs to","required":true,"style":"simple","schema":{"type":"string"}},{"name":"X-Request-ID","in":"header","description":"request Id, will return in the response headers, and appear in logs","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DictionaryAttribute"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DictionaryAttributeResponseEntity"}}}},"201":{"description":"Response containaing DictionaryAttributeResponseEntity Object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DictionaryAttributeResponseEntity"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"BasicAuth":[]}]}},"/api/v1/policy/network-access/dictionaries/{dictionaryName}/attribute/{attributeName}":{"get":{"tags":["Network Access - Dictionary Attribute"],"summary":"Get a Dictionary Attribute.","description":"Get a Dictionary Attribute.","operationId":"getNetworkAccessDictionariesByDictionaryNameAttributeByAttributeName","parameters":[{"name":"attributeName","in":"path","description":"the dictionary attribute name","required":true,"style":"simple","schema":{"type":"string"}},{"name":"dictionaryName","in":"path","description":"the name of the dictionary the dictionary attribute belongs to","required":true,"style":"simple","schema":{"type":"string"}},{"name":"X-Request-ID","in":"header","description":"request Id, will return in the response headers, and appear in logs","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Response containaing DictionaryAttributeResponseEntity Object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DictionaryAttributeResponseEntity"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The specified resource was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"BasicAuth":[]}]},"put":{"tags":["Network Access - Dictionary Attribute"],"summary":"Update a Dictionary Attribute.","description":"Update a Dictionary Attribute","operationId":"putNetworkAccessDictionariesByDictionaryNameAttributeByAttributeName","parameters":[{"name":"attributeName","in":"path","description":"the dictionary attribute name","required":true,"style":"simple","schema":{"type":"string"}},{"name":"dictionaryName","in":"path","description":"the name of the dictionary the dictionary attribute belongs to","required":true,"style":"simple","schema":{"type":"string"}},{"name":"X-Request-ID","in":"header","description":"request Id, will return in the response headers, and appear in logs","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DictionaryAttribute"}}}},"responses":{"200":{"description":"Response containaing DictionaryAttributeResponseEntity Object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DictionaryAttributeResponseEntity"}}}},"201":{"description":"Created"},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The specified resource was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"409":{"description":"Conflict in the current state of the resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"BasicAuth":[]}]},"delete":{"tags":["Network Access - Dictionary Attribute"],"summary":"Delete a Dictionary Attribute.","description":"Delete a Dictionary Attribute.","operationId":"deleteNetworkAccessDictionariesByDictionaryNameAttributeByAttributeName","parameters":[{"name":"attributeName","in":"path","description":"the dictionary attribute name","required":true,"style":"simple","schema":{"type":"string"}},{"name":"dictionaryName","in":"path","description":"the name of the dictionary the dictionary attribute belongs to","required":true,"style":"simple","schema":{"type":"string"}},{"name":"X-Request-ID","in":"header","description":"request Id, will return in the response headers, and appear in logs","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Response containaing DictionaryAttributeResponseEntity Object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DictionaryAttributeResponseEntity"}}}},"202":{"description":"Accepted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DictionaryAttributeResponseEntity"}}}},"204":{"description":"No Content","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DictionaryAttributeResponseEntity"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The specified resource was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"BasicAuth":[]}]}},"/api/v1/policy/network-access/dictionaries/{name}":{"get":{"tags":["Network Access - Dictionary"],"summary":"GET a dictionary by name","description":"GET a dictionary by name","operationId":"getNetworkAccessDictionary","parameters":[{"name":"name","in":"path","description":"the dictionary name","required":true,"style":"simple","schema":{"type":"string"}},{"name":"X-Request-ID","in":"header","description":"request Id, will return in the response headers, and appear in logs","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Response containing DictionaryResponseEntity object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DictionaryResponseEntity"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The specified resource was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"BasicAuth":[]}]},"put":{"tags":["Network Access - Dictionary"],"summary":"Network Access - Update a Dictionary.","description":"Network Access - Update a Dictionary.","operationId":"putNetworkAccessDictionariesByName","parameters":[{"name":"name","in":"path","description":"the dictionary name","required":true,"style":"simple","schema":{"type":"string"}},{"name":"X-Request-ID","in":"header","description":"request Id, will return in the response headers, and appear in logs","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Dictionary"}}}},"responses":{"200":{"description":"Response containing DictionaryResponseEntity object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DictionaryResponseEntity"}}}},"201":{"description":"Created"},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The specified resource was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"BasicAuth":[]}]},"delete":{"tags":["Network Access - Dictionary"],"summary":"Network Access - Delete a Dictionary.","description":"Network Access - Delete a Dictionary.","operationId":"deleteNetworkAccessDictionariesByName","parameters":[{"name":"name","in":"path","description":"the dictionary name","required":true,"style":"simple","schema":{"type":"string"}},{"name":"X-Request-ID","in":"header","description":"request Id, will return in the response headers, and appear in logs","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Response containing DictionaryResponseEntity object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DictionaryResponseEntity"}}}},"204":{"description":"No Content"},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The specified resource was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"BasicAuth":[]}]}},"/api/v1/policy/network-access/identity-stores":{"get":{"tags":["Network Access - Identity Stores"],"summary":"Network Access - Return list of identity stores for authentication policy definition.","description":"<p>Network Access - Return list of identity stores for authentication policy definition.<br> (Other CRUD APIs available throught ERS)<br></p>","operationId":"getNetworkAccessIdentityStores","parameters":[{"name":"X-Request-ID","in":"header","description":"request Id, will return in the response headers, and appear in logs","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"list of identity stores","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/IdentityStore"}}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The specified resource was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"BasicAuth":[]}]}},"/api/v1/policy/network-access/network-condition":{"get":{"tags":["Network Access - Network Conditions"],"summary":"Network Access - Returns a list of network conditions.","description":"Network Access - Returns a list of network conditions.","operationId":"getNetworkAccessNetworkConditions","parameters":[{"name":"X-Request-ID","in":"header","description":"request Id, will return in the response headers, and appear in logs","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"list of network conditions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NetworkConditionListResponseEntity"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The specified resource was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"BasicAuth":[]}]},"post":{"tags":["Network Access - Network Conditions"],"summary":"Network Access - Creates network condition.","description":"Network Access - Creates network condition.","operationId":"postNetworkAccessNetworkCo
[...]
